{% extends "base.html" %}
{% block content %}	
<div class="row">
	<div class="col-xs-9">
		<ul class="ace-thumbnails clearfix" id="gallery-holder"><!--
			<li>
				<div>
					<img width="150" height="150" alt="150x150" src="assets/images/gallery/thumb-1.jpg" />
					<div class="text">
					<div class="inner">
						<span>Some Title!</span>

						<br />
						<a href="assets/images/gallery/image-1.jpg" data-rel="colorbox">
							<i class="ace-icon fa fa-search-plus"></i>
						</a>
						<a href="#">
							<i class="ace-icon fa fa-paperclip"></i>
						</a>

						<a href="#">
							<i class="ace-icon fa fa-pencil"></i>
						</a>

						<a href="#">
							<i class="ace-icon fa fa-times red"></i>
						</a>
					</div>
				</div>
			</div>
			</li>

			<li>
				<div>
					<img width="150" height="150" alt="150x150" src="assets/images/gallery/thumb-2.jpg" />
					<div class="text">
						<div class="inner">
							<span>Some Title!</span>

							<br />
							<a href="assets/images/gallery/image-2.jpg" data-rel="colorbox">
								<i class="ace-icon fa fa-search-plus"></i>
							</a>
							<a href="#">
								<i class="ace-icon fa fa-paperclip"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-pencil"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-times red"></i>
							</a>
						</div>
					</div>
				</div>
			</li>

			<li>
				<div>
					<img width="150" height="150" alt="150x150" src="assets/images/gallery/thumb-3.jpg" />
					<div class="text">
						<div class="inner">
							<span>Some Title!</span>

							<br />
							<a href="assets/images/gallery/image-3.jpg" data-rel="colorbox">
								<i class="ace-icon fa fa-search-plus"></i>
							</a>
							<a href="#">
								<i class="ace-icon fa fa-paperclip"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-pencil"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-times red"></i>
							</a>
						</div>
					</div>
				</div>
			</li>

			<li>
				<div>
					<img width="150" height="150" alt="150x150" src="assets/images/gallery/thumb-4.jpg" />
					<div class="text">
						<div class="inner">
							<span>Some Title!</span>

							<br />
							<a href="assets/images/gallery/image-4.jpg" data-rel="colorbox">
								<i class="ace-icon fa fa-search-plus"></i>
							</a>
							<a href="#">
								<i class="ace-icon fa fa-paperclip"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-pencil"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-times red"></i>
							</a>
						</div>
					</div>
				</div>
			</li>

			<li>
				<div>
					<img width="150" height="150" alt="150x150" src="assets/images/gallery/thumb-5.jpg" />
					<div class="text">
						<div class="inner">
							<span>Some Title!</span>

							<br />
							<a href="assets/images/gallery/image-5.jpg" data-rel="colorbox">
								<i class="ace-icon fa fa-search-plus"></i>
							</a>
							<a href="#">
								<i class="ace-icon fa fa-paperclip"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-pencil"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-times red"></i>
							</a>
						</div>
					</div>
				</div>
				
			</li>

			<li>
				<div>
					<img width="150" height="150" alt="150x150" src="assets/images/gallery/thumb-6.jpg" />
					
				<div class="text">
					<div class="inner">
						<span>Some Title!</span>

						<br />
						<a href="assets/images/gallery/image-6.jpg" data-rel="colorbox">
							<i class="ace-icon fa fa-search-plus"></i>
						</a>
						<a href="#">
							<i class="ace-icon fa fa-paperclip"></i>
						</a>

						<a href="#">
							<i class="ace-icon fa fa-pencil"></i>
						</a>

						<a href="#">
							<i class="ace-icon fa fa-times red"></i>
						</a>
					</div>
				</div>
			</div>
			</li>

			<li>
				<div>
					<img width="150" height="150" alt="150x150" src="assets/images/gallery/thumb-1.jpg" />
					
				<div class="text">
					<div class="inner">
						<span>Some Title!</span>

						<br />
						<a href="assets/images/gallery/image-1.jpg" data-rel="colorbox">
							<i class="ace-icon fa fa-search-plus"></i>
						</a>
						<a href="#">
							<i class="ace-icon fa fa-paperclip"></i>
						</a>

						<a href="#">
							<i class="ace-icon fa fa-pencil"></i>
						</a>

						<a href="#">
							<i class="ace-icon fa fa-times red"></i>
						</a>
					</div>
				</div></div>
			</li>

			<li>
				<div>
					<img width="150" height="150" alt="150x150" src="assets/images/gallery/thumb-2.jpg" />
					
				<div class="text">
					<div class="inner">
						<span>Some Title!</span>

						<br />
						<a href="assets/images/gallery/image-2.jpg" data-rel="colorbox">
							<i class="ace-icon fa fa-search-plus"></i>
						</a>
						<a href="#">
							<i class="ace-icon fa fa-paperclip"></i>
						</a>

						<a href="#">
							<i class="ace-icon fa fa-pencil"></i>
						</a>

						<a href="#">
							<i class="ace-icon fa fa-times red"></i>
						</a>
					</div>
				</div></div>
			</li> -->
		</ul>
	</div>
	<div class="col-xs-3">
		<div>
			<form action="/api/v1/upload" class="dropzone well" id="dropzone">
				<div class="fallback">
					<input name="file" type="file"  />
				</div>
			</form>
		</div>

		<div id="preview-template" class="hide">
			<div class="dz-preview dz-file-preview">
				<div class="dz-image">
					<img data-dz-thumbnail="" />
				</div>

				<div class="dz-details">
					<div class="dz-size">
						<span data-dz-size=""></span>
					</div>

					<div class="dz-filename">
						<span data-dz-name=""></span>
					</div>
				</div>

				<div class="dz-progress">
					<span class="dz-upload" data-dz-uploadprogress=""></span>
				</div>

				<div class="dz-error-message">
					<span data-dz-errormessage=""></span>
				</div>

				<div class="dz-success-mark">
					<span class="fa-stack fa-lg bigger-150">
						<i class="fa fa-circle fa-stack-2x white"></i>

						<i class="fa fa-check fa-stack-1x fa-inverse green"></i>
					</span>
				</div>

				<div class="dz-error-mark">
					<span class="fa-stack fa-lg bigger-150">
						<i class="fa fa-circle fa-stack-2x white"></i>

						<i class="fa fa-remove fa-stack-1x fa-inverse red"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}